{% extends "base.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<h1 class="my-4 text-center">Inscription</h1>
	<h1 class="my-4 text-center">Changer le mot de passe</h1>


{% endblock %}