{% extends "base.html.twig" %}

{% block title %}Gestion des membres - HouseHotel
{% endblock %}

{% block body %}

	{% if membre is not defined %}
		<h1 class="text-center my-4">Gestion des membres</h1>
	{% else %}
		<h1 class="text-center my-4">Modifier le membre</h1>
	{% endif %}

	<div class="row justify-content-center">

		<div class="col-4 my-4">

			{{ form_start(form) }}
			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
