{% extends "base.html.twig" %}

{% block title %}Spa - HouseHotel
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-8 mx-auto my-4">
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-6 text-center mb-5">
							<h1 class="heading-section">Contactez-Nous</h1>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-lg-10 col-md-12">
							<div class="wrapper contact">
								<div class="row no-gutters">
									<div class="col-md-7 d-flex align-items-stretch">
										<div class="contact-wrap w-100 p-md-5">
											<h3 class="mb-4 gold">Keep in touch !</h3>
											<div id="form-message-warning" class="mb-4"></div>
											<div id="form-message-success" class="mb-4">
											</div>
											<form method="POST" id="contactForm" name="contactForm">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<input type="text" class="form-control" name="name" id="name" placeholder="Nom">
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<input type="email" class="form-control" name="email" id="email" placeholder="Email">
														</div>
													</div>
                                                    
													<div class="col-md-12">
                                                    <br>
														<div class="form-group">
															<input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet">
														</div>
													</div>
                                                    
													<div class="col-md-12">
                                                    <br>
														<div class="form-group">
															<textarea name="message" class="form-control" id="message" cols="30" rows="7" placeholder="Message"></textarea>
														</div>
													</div>
                                                    
													<div class="col-md-12">
                                                    <br>
														<div class="form-group">
															<input type="submit" value="Envoyer" class="btn bg-gold">
															<div class="submitting"></div>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
									<div class="col-md-5 d-flex contacts align-items-stretch">
										<div class="info-wrap bg-gold w-100 p-lg-5 p-4">
											<h3 class="mb-4 cts">Contacts</h3>
											<div class="dbox w-100 d-flex align-items-start">
												<div class="icon d-flex align-items-center justify-content-center">
													<i class="fa-solid fa-location-dot"></i>
													<a class="maps" target="_blank" href="https://www.google.com/maps/search/18+rue+Duluxe,+75001+Paris/@48.8619643,2.3271664,15z/data=!3m1!4b1">
														18 rue Duluxe, 75001 Paris</a>
												</div>
											</div>
											<br>
											<div class="dbox w-100 d-flex align-items-start">
												<div class="icon d-flex align-items-center justify-content-center">
													<i class="fa-solid fa-phone"></i>
													<a href="tel:#">01 23 45 67 89</a>
												</div>
											</div>

											<br>
											<div class="dbox w-100 d-flex align-items-center">
												<div class="icon d-flex align-items-center justify-content-center">
													<i class="fa-solid fa-envelope"></i>
													<a href="mailto:#">contact@househotel.com</a>
												</div>
											</div>
											<br>
											<div class="dbox w-100 d-flex align-items-center">
												<div class="icon d-flex align-items-center justify-content-center">
													<i class="fa-solid fa-earth-americas"></i>
													<a href="index.php">www.househotel.com</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endblock %}
