{% extends "base.html.twig" %}

{% block title %}Notre histoire - HouseHotel
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-8 mx-auto my-3">
			<br>
			<h1>Vous servir au mieux, notre priorité <i class="fa-solid fa-bell-concierge"></i></h1>
			<br>
			<div class="row">
				<div class="col-6 mx-auto text-center">
				<h2>Douceur, bienveillance et délicatesse</h2>
					<p>
						Chez HouseHotel, notre philosophie : c’est embrasser votre séjour
						<br>dans ses moindres détails.</p> 
						
						<p>Sourire, précision et délicatesse sont au rendez-vous pour un accueil
						<br>fait d’écoute, d’attention et de bonne humeur.
					</p>

					<p>HouseHotel, c'est bien plus qu'un hôtel.
					<br>C’est un univers enveloppant, un cocon accueillant.</p>
					
					<p>Tout est pensé pour vous offrir un merveilleux séjour,
					<br>rempli d’harmonie, de liberté et de sérénité.</p>
				</div>

				<div class="col-6 mx-auto">
					<img src="img\hotel\reception.jpg" class="round-corner" alt="Chambre de luxe en plein Paris" width="600px" border-radius="10px">
				</div>
			</div>

			<br>
			<br>
			<div class="card text-white shape mx-auto bg-dark mb-3 sea" style="max-width: 50rem;">
				<div class="card-body text-center">
					<h5 class="card-title thalgo">« Être parisien, ce n’est pas être né à Paris,
					<br>c’est y renaître »</h5>
					<p class="card-text">Sacha Guitry.</p>
				</div>
			</div>

			<br>
			<div class="row">
				<div class="col-6 mx-auto text-center my-4">
					<br>
					<h2>Le Paris secret des Parisiens</h2>
					<br>
					<p>
						La vie Parisienne c’est aussi la vie en rose : une vie pétillante et joyeuse, celle d’un quartier central où se côtoient touristes et Parisiens.
					</p>

					<p>L’équipe de l'hôtel est là pour vous conseiller et vous aider à la découvrir dans ses adresses les plus secrètes.</p>
					<p>
						Pour toutes demandes, n'hésitez pas à écrire à nos équipes de l'Institut :
						<a href="mailto:#">accueil@househotel.com</a>
						ou au
						<strong>01 23 45 67 89</strong>.
					</p>

				</div>
				<div class="col-6 mx-auto">
					<br>
					<img src="img\hotel\vue-paris.jpg" class="round-corner" alt="vue de Paris sur la Tour Eiffel" width="600px">
				</div>
			</div>
			<br/>

		</div>
	</div>
</div>{% endblock %}
