{% extends "base.html.twig" %}

{% block title %}Restaurant - HouseHotel
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-8 mx-auto my-3">
			<br>
			<h1>RESTAURANT : Excellence & Gourmandise
				<i class="fa-solid fa-utensils"></i>
			</h1>
			<div class="row">
				<div class="col-6 mx-auto text-center mt-4 pb-4">

					<p>Bienvenue dans notre restaurant de 250 m² dédié à la dégustation.</p>

					<p>Nous avons conçu le restaurant de notre hôtel 5 étoiles comme une parenthèse sensorielle unique en plein Paris.</p>

					<h2 class="mt-4">Des produits bio et français</h2>

					<p class="mt-4">Nos ingrédients, issus de l'agriculture bio, sont triés sur le volet, choisis chez les meilleurs éleveurs et maraîchers de France.</p>

					<p>Nous privilégions toujours les circuits courts<br>
					lorsque cela est possible.</p>

				</div>
				<div class="col-6 mx-auto">
				<br>
					<img src="img\restaurant\produits-bio.jpg" class="round-corner w-100" alt="tomates, basilic, champignons et huile d'olive bio" border-radius="10px">
				</div>
			</div>
			<br>
			<div class="card text-white shape mx-auto bg-dark mb-3 sea" style="max-width: 50rem;">
				<div class="card-body text-center">
					<h5 class="card-title thalgo">« La gastronomie est l'art d'utiliser la nourriture pour créer le bonheur »</h5>
					<p class="card-text">Theodore Zeldin.</p>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-6 mx-auto text-center mt-4 pb-4">
					<h2>Menu Dégustation</h2>
					<p class="mt-4">
						Nous vous proposons une prestation haut de gamme, grâce à l’expertise de notre équipe de chefs étoilés.
					</p>
					<p>Un large choix de grands classiques de la cuisine française.</p>
					<p>
						Pour toutes demandes, n'hésitez pas à écrire à nos chefs :
						<a href="mailto:#">restaurant@househotel.com</a>
						ou au
						<strong>01 23 45 67 89</strong>.
					</p>

					<p>
						Les réservations de tables se font sur sur rendez-vous<br>
						tous les jours de la semaine de 9h00 à 19h00.
					</p>
					<p>
						<div class="mt-4">
							<button type="button" class="btn bg-gold">
								<a class="carte" href="carte-restaurant-house-hotel.pdf" target="_blank">
									CARTE DU RESTAURANT >>
								</a>
							</button>
						</div>
					</p>
				</div>
				<div class="col-6 mx-auto">
					<br>
					<img src="img\restaurant\restaurant.jpg" class="round-corner w-100 pt-4" alt="tables d'un restaurant de luxe">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
