{% extends "base.html.twig" %}

{% block title %}Spa - HouseHotel
{% endblock %}

{% block body %}
	<div class="row g-0">
		<div class="col-8 mx-auto my-3">
			<br>
			<h1>SPA : Sérénité, Plaisir & Apaisement
				<i class="fa-solid fa-spa"></i>
			</h1>
			<div class="row">
				<div class="col-6 mx-auto text-center my-4">
				<br>
					<p>Bienvenue dans notre oasis de 750 m² dédiée à la beauté<br>
						et à la relaxation. Parmi nos espaces, bous trouverez notamment notre superbe bassin à la déco orientale, façon riad du Maroc.</p>

					<p>Nous avons conçu le spa de notre hôtel 5 étoiles comme une parenthèse sensorielle unique en plein Paris.</p>

					<p>Véritable cocon de bien-être, accordez-vous un moment hors du temps, parfait antidote après une journée de balades<br>
						dans la Ville Lumière.</p>
					<br>
					<br>
					<h2 class="my-4 mt-4">Spa Thalgo</h2>

					<p>Un large choix de soins spa et détente, de massages et de rituels de beauté aux techniques de soin les plus innovantes vous sera proposé pour satisfaire chacune de vos envies.</p>

					<p>Pour une expérience immersive, nous confions à Thalgo notre carte des soins, devenant ainsi le premier hôtel parisien accueillant un spa
						<br>à base d’algues et d’extraits marins.</p>

					<p>Préserver la beauté dans le temps, Thalgo, leader de la cosmétique marine, puise le meilleur des Océans pour vous offrir une expérience exceptionnelle. Depuis toujours, la mer est source d’énergie vitale pour l’homme, capable de le régénérer physiquement et mentalement.</p>

				</div>
				<div class="col-6 mx-auto">
				<br>
					<p><img src="img\spa\spa-ambiance-marocaine.jpg" class="round-corner w-100" alt="piscine du spa" border-radius="10px"></p>
					<br>
					<p><img src="img\spa\piscine.jpg" class="round-corner w-100 my-4" alt="piscine du spa" border-radius="10px"></p>

				</div>
			</div>

			<br>

			<div class="card text-white shape mx-auto bg-dark mb-3 sea" style="max-width: 50rem;">
				<div class="card-body text-center">
					<h5 class="card-title thalgo">« La mer lave les maux de tous les hommes »</h5>
					<p class="card-text">Euripide - 420 avant JC.</p>
				</div>
			</div>

			<br>
			<div class="row">
				<div class="col-6 mx-auto my-4 text-center">
					<h2>Les Soins</h2>
					<p>
						Prenez place dans l’une de nos 4 cabines luxueuses et feutrées, seul ou en duo, et découvrez une large gamme de soins corps et visage issus de la cosmétique marine.
					</p>

					<p>
						Pour vivre l'expérience HouseHotel jusqu’au bout, offrez-vous notre soin Signature, créé sur-mesure pour notre clientèle, confortablement installé sur nos tables de massages chauffantes.</p>
					<p>
						Les massages et les soins sont proposés uniquement sur rendez-vous tous les jours de la semaine de 9h00 à 19h00.
					</p>
					<p>
						<div class="mt-4">
							<button type="button" class="btn mt-2 bg-gold">
								<a class="carte" href="spa-carte-soins.pdf" target="_blank">
									CARTE DES SOINS >>
								</a>
							</button>
						</div>
					</p>
				</div>
				<div class="col-6 mx-auto">
				<br>
					<img src="img\spa\spa-galets.jpg" class="round-corner w-100 my-4" alt="soin galets sur dos de femme au spa">
				</div>
			</div>
			<br/>
			<div class="row">
			<div class="col-6">
					<img src="img\spa\spa-soin.jpg" class="round-corner w-100 my-4" alt="soin massage de la main au spa">
				</div>
				<div class="col-6 my-4 text-center">
					<h2>Un espace bien-être 100% dédié !</h2>

					<p>HouseHotel vous accueille dans un décor architectural époustouflant reprenant la sensation de fonds marins, au cœur de Paris.</p>

					<p>Notre spa est aujourd'hui considéré comme l'un des lieux les plus agréables de la capitale.</p>

					<p>Véritable havre de paix, vous profiterez de l'espace bien-être en toute tranqulité.</p>

					<p>En effet, celui-ci est exclusivement réservé aux clients de l'hôtel.</p>
				</div>
				
			</div>
			<br>
			<div class="row">
				<div class="col-6 mx-auto mt-4 text-center">
						<h2>Piscine & Jacuzzi</h2>
						<p>Quelle que soit la saison, profitez de notre piscine chauffée
							<br>
							équipée de jets massants, de lumières tamisées
							<br>et de mosaïques subtiles.
						</p>
					</br>

					<p>Un jacuzzi spacieux est également à disposition<br>
						pour buller à volonté.</p>

					<p>Le tout, en plein coeur de Paris.</p>
				</div>
				<div class="col-6 mx-auto mt-2">
					<img src="img\spa\jacuzzi.jpg" class="round-corner w-100" alt="jacuzzi en amoureux et champagne">
				</div>
			</div>
			<br>
			<div class="row pb-4">
				<div class="col-6 mx-auto text-center">
					<h2>Sauna</h2>
					<p>Envie d’une petite détente ?</p>

					<p>Un sauna aux parfums aromatiques seul ou à deux.</p>

					<p>Nous vous le préparons sur simple demande,<br>
						avec les serviettes à disposition.</p>

					<p>L’ensemble des espaces est climatisé.</p>
					<p>
						Pour toutes demandes,<br>
						n'hésitez pas à contacter les équipes de l'Institut :<br>
						<a href="mailto:#">spa@househotel.com</a>
						ou au
						<strong>01 23 45 67 89</strong>.
					</p>
				</div>
				
				<div class="col-6 mx-auto">
				<br>
					<img src="img\spa\sauna.jpg" class="round-corner w-100" alt="femme en serviette dans un sauna">

				</div>

			</div>
		</div>
	</div>
{% endblock %}
