{% extends "base.html.twig" %}

{% block title %}Spa - HouseHotel
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-8 mx-auto my-3">
			<br>
			<h1>SPA : Sérénité, Plaisir & Apaisement
				<i class="fa-solid fa-spa"></i>
			</h1>
			<br>
			<div class="row">
				<div class="col-6 mx-auto text-center">
					<p>Bienvenue dans notre oasis de 750 m² dédiée à la beauté et à la relaxation.</p>

					<p>Nous avons conçu le spa de notre hôtel 5 étoiles comme une parenthèse sensorielle unique en plein Paris.</p>

					<p>Véritable cocon de bien-être, accordez-vous un moment hors du temps, parfait antidote après une journée de balades dans la Ville Lumière.</p>

					<h2>Spa Thalgo</h2>

					<p>Un large choix de soins spa et détente, de massages et de rituels de beauté aux techniques de soin les plus innovantes vous sera proposé pour satisfaire chacune de vos envies.</p>

					<p>Pour une expérience immersive, nous confions à Thalgo notre carte des soins, devenant ainsi le premier hôtel parisien accueillant un spa spécialisé dans les soins et la thalassothérapie à base d’algues et d’extraits marins.</p>

					<p>Préserver la beauté dans le temps, Thalgo, leader de la cosmétique marine, puise le meilleur des Océans pour vous offrir une expérience exceptionnelle. Depuis toujours, la mer est source d’énergie vitale pour l’homme, capable de le régénérer physiquement et mentalement.</p>

				</div>
				<div class="col-6 mx-auto mt-4">
					<br>
					<img src="build\img\spa\piscine.jpg" class="spa" alt="piscine du spa" width="600px" border-radius="10px">
				</div>
			</div>

			<br>

			<div class="card text-white shape mx-auto bg-dark mb-3 sea" style="max-width: 50rem;">
				<div class="card-body text-center">
					<h5 class="card-title thalgo">« La mer lave les maux de tous les hommes »</h5>
					<p class="card-text">Euripide - 420 avant JC.</p>
				</div>
			</div>

			<br>
			<div class="row">
				<div class="col-6 mx-auto text-center">
					<h2>Les Soins</h2>
					<p>
						Prenez place dans l’une de nos 4 cabines luxueuses et feutrées, seul ou en duo, et découvrez une large gamme de soins corps et visage issus de la cosmétique marine. Intitulées Iris, Nymphéa, Papyrus et Nénuphar, elles font référence aux plafonds peints d'étang et plantes aquatiques en trompe l'oeil.
					</p>

					<p>
						Pour vivre l'expérience HouseHotel jusqu’au bout, offrez-vous notre soin Signature, créé sur-mesure pour notre clientèle, confortablement installé sur nos tables de massages chauffantes.</p>

					<p>
						Nous vous proposons une prestation haut de gamme, grâce à l’expertise de notre équipe de praticiennes et aux produits de la gamme Thalgo.
					</p>
					<p>
						Pour toutes demandes, n'hésitez pas à écrire à nos équipes de l'Institut :
						<a href="mailto:#">spa@househotel.com</a>
						ou au
						<strong>01 23 45 67 89</strong>.
					</p>

					<p>
						Les massages et les soins sont proposés uniquement sur rendez-vous tous les jours de la semaine de 9h00 à 19h00.
					</p>
					<p>
						<button type="button" class="btn bg-gold">
							<a class="soins" href="build\spa-carte-soins.pdf" target="_blank">
								CARTE DE SOINS >>
							</a>
						</button>
					</p>
				</div>
				<div class="col-6 mx-auto mt-4">
					<br>
					<img src="build\img\spa\spa-soin.jpg" class="spa" alt="soin massage de la main au spa" width="600px">
				</div>
			</div>
			<br/>

			<div class="row text-center">
				<h2>Un espace bien-être 100% dédié !</h2>

				<p>HouseHotel vous accueille dans un décor architectural époustouflant reprenant la sensation de fonds marins, au cœur de Paris.</p>

				<p>Notre spa est aujourd'hui considéré comme l'un des lieux les plus agréables de la capitale.</p>

				<p>Véritable havre de paix, vous profiterez de l'espace bien-être en toute tranqulité. En effet, celui-ci est exclusivement réservé aux clients de l'hôtel.</p>
			</div>
			<br>
			<div class="row">


				<div class="col-6 mx-auto mt-4 text-center">
					<br>
					<h2>Piscine & Jacuzzi</h2>
					<p>Quelle que soit la saison, profitez de notre piscine chauffée équipée de jets massants, de lumières tamisées et de mosaïques subtiles.</p>

					<p>Un jacuzzi spacieux est également à disposition pour buller à volonté.</p>

					<p>Le tout, en plein coeur de Paris.</p>
				</div>
				<div class="col-6 mx-auto mt-4">
					<img src="build\img\spa\jacuzzi.jpg" class="spa" alt="jacuzzi en amoureux et champagne" width="600px">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-6 mx-auto mt-4 text-center">
					<h2>Sauna</h2>
					<p>Envie d’une petite détente ?</p>

					<p>
						Un sauna aux parfums aromatiques seul ou à deux.</p>

					<p>Nous vous le préparons sur simple demande, avec les serviettes à disposition.</p>
					<br>
					<p>L’ensemble des espaces est climatisé.</p>
				</div>
				<div class="col-6 mx-auto">
					<img src="build\img\spa\sauna.jpg" class="spa" alt="femme en serviette dans un sauna" width="600px">

				</div>

			</div>
		</div>
	</div>
{% endblock %}
